# Exclude .DS_Store files (Mac OS)
.DS_Store

# Exclude Jupyter notebook checkpoints
.ipynb_checkpoints/

# Exclude the lede_24 directory
lede_24/

# Exclude the tika directory
tika/

# Python specific ignores
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
.Python

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE specific ignores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# Backup files
*.bak
*.swp
*.swo

# Node specific ignores (if applicable)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Exclude other common temporary files
Thumbs.db
Desktop.ini
